<div class="wrapper">
  <div class="header">
    <div class="header_left">
      <h1>材料在庫一覧</h1>
    </div>
    <div class="header_right">
      <a href="#">材料を登録</a>
    </div>
  </div>
  <div class="main">
    <div class="form">
      <input type="search" placeholder="検索" class="form_input">
    </div>
    <div class="category_pull">
      <form action="xxx.php" method="post">
      <fieldset>
        <input type="text" autocomplete="off" list="category" placeholder="全カテゴリ" class="category_input">
        <datalist id="category">
          <option value="生鮮野菜">
          <option value="小麦粉">
          <option value="チーズ">
        </datalist>
      </fieldset>
      </form>
    </div>
  </div>
  <div class="inventory">
    <div class="inventory_header">
      <div class="vxe-cell col_1">商品ID</div>
      <div class="vxe-cell col_2">商品画像</div>
      <div class="vxe-cell col_3">カテゴリ</div>
      <div class="vxe-cell col_4">商品名</div>
      <div class="vxe-cell col_5">価格</div>
      <div class="vxe-cell col_6">在庫</div>
      <div class="vxe-cell col_7">内容量</div>
      <div class="vxe-cell col_8">最終更新日</div>
      <div class="vxe-cell col_9">　　</div>
    </div>
    <div class="inventory_list">
      <div class="vxe-cell col_1">商品ID</div>
      <div class="vxe-cell col_2">商品画像</div>
      <div class="vxe-cell col_3">カテゴリ</div>
      <div class="vxe-cell col_4">商品名</div>
      <div class="vxe-cell col_5">価格</div>
      <div class="vxe-cell col_6">在庫</div>
      <div class="vxe-cell col_7">内容量</div>
      <div class="vxe-cell col_8">最終更新日</div>
      <div class="vxe-cell col_9"><i class="fas fa-edit fa-lg"></i></div>
    </div>
  </div>
</div>
