@import "reset";
@import "modules/foodstuffs.scss";
@import "modules/categories.scss";
@import " font-awesome ";



.notifications {
  color: white;
  text-align: center;  
}
.notice {
  background-color: #00c989;
}

.alert {
  background-color: #ed7e00;
}
